@tailwind base;
@tailwind components;
@tailwind utilities;



input[type="text"],input[type="password"],input[type="email"],input[type="number"],textarea{
 @apply w-full border my-2 py-2 px-3 rounded-2xl;
}


button.primary{
 @apply  bg-blue-400 w-full p-2 text-white rounded-2xl;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



text{}










